#Executáveis
*.out
*.exe
pascal

l14e1

#Arquivos de teste
*.txt
*.pas

#Códigos Gerados pelo LEX
*/lex.yy.c

#Códigos Gerados pelo Bison
*/sintatico.tab.c
*/sintatico.tab.h

#Exemplo do professor
lista-7/exemplo

#Objetos
*.o