#Executáveis
*.out
*.exe

pascal
dcmat

l14e1
lexico
sintatico

#Códigos Gerados pelo LEX
*/lex.yy.c

#Códigos Gerados pelo Bison
*/sintatico.tab.c
*/sintatico.tab.h

#Exemplo do professor
lista-7/exemplo

#Objetos
*.o

#Arquivos Compactados
*.zip