#Executáveis
*.out
*.exe
pascal

#Arquivos de teste
*.txt
*.pas

#Códigos Gerados pelo LEX
lista-7/ex1/lex.yy.c
lista-7/ex2/lex.yy.c
lista-7/ex3/lex.yy.c
lista-7/ex4/lex.yy.c

analisador_lexico/lex.yy.c

#Exemplo do professor
lista-7/exemplo